h1 {
  text-align: center;
}

nav a {
  padding: 0 10px;
  background-color: lavender;
  margin: 0 auto;
  color: purple;
}

img {
  display: block;
margin: 0 auto;
  
}
figcaption {
  background-color: lavender;
  color: purple;
  font-style: italic;
  padding: 2px;
  text-align: center;
}


body {
  width: 100%;
  height: 100%;
  margin: 0;
}



 